@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
*{
    box-sizing: border-box;
}

#wrapper{
    margin: 20px 250px;
    background-color: white;
}
body{
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    padding: 30px auto;
}
header h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    padding: 20px;
    font-family: Newsreader;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows: .1fr .8fr .1fr 1fr .5fr;
    gap: 40px;
}
.story{
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.995);;
    box-shadow: 4px 4px 1px rgb(218, 217, 217);
}
.story h3{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 600;
}
.story a{
    text-decoration: none;
    color: red;
}
h2{
    font-size: 50px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    height: 100px;
    padding-top: 30px;
}
.story h5{
    font-size: 20px;
    text-align: center;
}
.story p{
    font-size: 20px;
}
.one{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2/4;
    grid-template-rows: .1fr .1fr;
}

.two p{
    font-size: 20px;
    text-align: center;
}
.left{
    grid-column: 1/3;
}
.left p{
    font-size: 25px;
    padding: 0 10px;
}
.bottom{
    grid-column: 1/5;
    font-size: 20px;
    padding: 0 10px;
}
.bottom p{
    font-size: 25px;
}
.one img{
    grid-row: 1/2;
    grid-column: 3/5;
    padding: 20px;
    width: 90%;
    padding-left: 40px;
}
.two{
    grid-column: 4/5;
    grid-row: 1/3;
}
.three{
    grid-column: 1/2;
}
.three h3{
    font-size: 30px;
}
.three p{
    text-align: center;
}
.four{
    grid-row: 4/6;
    grid-column: 4/5;
    background-color: white;
    box-shadow: none;
    padding-top: 0;
}
.titlefour{
    grid-column: 4/5;
    grid-row:3;
    padding-top: 30px;
    margin-bottom: 0;
}
.titlefour h3{
    margin: 0;
}
.four h3{
    font-size: 30px;
}
.four p{
    font-size: 20px;
}
.five{
    grid-column: 2/3;
}

.featured{
    padding: 15px;
}
.titlefour h3{
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}
nav{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 150px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
html{
    scroll-behavior: smooth;
}