@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IM+Fell+DW+Pica+SC&family=Metal+Mania&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #FE7886;
    font-family: "Gowun Dodum";
}
header{
    display: flex;
}
header img{
    flex: .5;
    width: 50%;
}

h1{
    font-size: 130px;
    padding: 0 40px;
    flex: 4;
    text-align: center;
    font-family: "Bagel Fat One";
    color: #E3F98E;
}
h2{
    padding: 0 50px;
}
h3{
    font-size: 60px;
    padding: 30px;
    text-align: center;
    grid-column: 1/4;
}
h4{
    font-size: 50px;
}
.left{
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.one{
    text-align: center;
    background-color: #E3F98E;
    padding: 30px;
    border-radius: 30px;
}


.two{
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

#img25{
    padding-top: 100px;
}